*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
/* color: #E0E0E0; */
body{
    font-family: Poppins, sans-serif;
    background-color: #383541; 
    display: flex;
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
}
.img .churrasqueira{
    position: absolute;
    width: 100px;
    margin-right: 350px;
    margin-top: 571px;
}

.img .bebidas{
    position: absolute;
    width: 200px;
    display: flex;
    justify-content: center; 
    margin-bottom: 150px;
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    width: 300px;
    height: 310px;
    margin: auto;
    margin-top: 120px;
    border-radius: 10px;
    padding: 36px;
    background-color: rgb(211, 213, 213);
}



#resultado {
color: #222f44;
}

.titulo {
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
}

input{
    margin-bottom: 15px;
    padding: 6px;
    border-radius: 5px;
    border: none;
    color: #222f44;;
}

.button-calcular {
    font-size: 19px;
    background-color: #222f44;
    color: #E0E0E0;
    border-style: none;
    width: 100px; 
    padding: 4px;
    border-radius: 40px;
    margin-top: 8px;
    margin-bottom: 10px;
}


@media screen and (max-width: 425px) {
    body {
        font-size: 14px; 
    }

    .container {
        width: 60%; 
        min-width: 240px;
        min-height: 310px;
    }
    .img .bebidas {
        max-width: 170px;
        margin-top: 50px;
    }

    .container .img .churrasqueira {
        max-width: 64px;
        margin-left: 80px;
        top: -126px;
    }

    
}